{% extends 'base.html.twig' %}

{% block title %}Odds List{% endblock %}

{% block body %}
<header>
    <div class="title-container">
        <img src="{{ asset('images/logo.png') }}" alt="Logo" class="site-logo">
        <h1>Benchmark</h1>
    </div>    
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}
</header>


<div class="container">
    <!-- aside for scraping -->
    <aside class="sidebar-closed" id="sidebar">
        <h3>Filters</h3>
        <form class="aside-form" method="get" action="{{ path('odds_list') }}">
            <label name="sport" id="sport">Sports :</label>
                <select name="sport" id="sport" onchange="this.form.submit()">
                    <option value="">All</option>
                </select>
            <label for="bookmaker">Bookmaker:</label>
                <select name="bookmaker" id="bookmaker" onchange="this.form.submit()">
                    <option value="">All</option>
                </select>
            <label name="league" id="match">League :</label>
                <select name="league" id="league" onchange="this.form.submit()">
                    <option value="">All</option>
                </select>
        </form>
            <button type="submit" class="scraping-btn">Start Scraping</button>
    </aside>

    <main>
       
        <!-- filter by bookmaker, date & match -->
        <h2>Filters</h2>
        <div class="filter-form-container">
            {{ form_start(form, {'method': 'get', 'action': path('odds_list'), 'attr': {'class': 'form-filters', 'name': 'odds_filter'}}) }}
                <div class="form-group">
                    {{ form_label(form.bookmaker) }}
                    {{ form_widget(form.bookmaker) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.league) }}
                    {{ form_widget(form.league) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.match) }}
                    {{ form_widget(form.match) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.dateRange) }}
                    {{ form_widget(form.dateRange) }}
                </div>
                <button type="submit" id="filter-button" class="form-btn">Filter</button>
                <button id="reset-btn" class="form-btn">Init</button>
            {{ form_end(form) }}
        </div>
        <button id="toggleSidebar" class="toggle-btn">☰ Scraping</button>
        <div class="tables">
            <!--table for trj by bookmakers-->
            <table class="avgtrj">
                <thead>
                    <tr>
                        <th>Bookmaker <span>⬍</span></th>
                        <th>Average TRJ <span>⬍</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in avgTrj %}
                        <tr>
                            <td>{{ row.bookmaker }}</td>
                            <td class="{% if row.avgTrj > 90 %}trj-high{% elseif row.avgTrj < 90 %}trj-low{% endif %}">
                                {{ row.avgTrj|number_format(2, '.', '') }}%
                            </td>

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">No data found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- table for all matchs -->
            <table class="all_matchs">
                <thead>
                    <tr>
                        <th>Match <span>⬍</span></th>
                        <th>Bookmaker <span>⬍</span></th>
                        <th>Odd 1 <span>⬍</span></th>
                        <th>Odd N <span>⬍</span></th>
                        <th>Odd 2 <span>⬍</span></th>
                        <th>TRJ <span>⬍</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in odds %}
                        <tr>
                            <td>{{ item.matchName }}</td>
                            <td>{{ item.bookmaker }}</td>
                            <td>{{ item.cote1 }}</td>
                            <td>{{ item.coteN }}</td>
                            <td>{{ item.cote2 }}</td>
                            <td class="{% if item.trj > 90 %}trj-high{% elseif item.trj < 90 %}trj-low{% endif %}">{{ item.trj }}%</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">No odds available.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</div>
{% endblock %}
